<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tour page</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/tourStyle.css" th:href="@{/css/tourStyle.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">


</head>
<body>
<nav class="navbar">
    <a href="/home" class="title"><h1 class="logo"> SkyLand</h1></a>

    <ul class="nav-links">
        <li id="aboutUs"><a href="/about">About us</a></li>
        <li><a href="/login">Sign in</a></li>
        <li><a href="#"></a> |</li>
        <li><a href="/registration">Sign up</a></li>
        <li id="userAccount"><a href="/account"></a></li>

    </ul>
</nav>
<div class="container">

    <!--  <div class="ph">-->
    <!--    <h1 class="photos">Photos</h1>-->
    <!--    <div class="line"> </div>-->
    <!--  </div>-->
    <div class="content">
        <h1 class="titleTour" th:text="${tour.getTitle()}"></h1>
        <div class="aboutAndLine">
            <div class="about">
                About
            </div>
            <div class="lineAbout"></div>
        </div>
        <ul class="conditions">
            <li th:text="${tour.getCountry()}"></li>
            <li th:text="${tour.getTypeOfFood()}"></li>
            <li th:text="${tour.getNumberOfPersons() + ' persons'}"></li>
            <li th:text="${tour.getTypeOfFlight()+ 'flight'}"></li>
            <li th:text="${tour.getPrice()}"></li>
        </ul>

    </div>
    <div id="slide">

        <div class="item" id="first" style="background-image: url(1.jpg);">

        </div>
        <div class="item" id="second" style="background-image: url(2.jpg);">

        </div>
        <div class="item" id="third" style="background-image: url(3.jpg);">

        </div>
        <div class="item" id="forth" style="background-image: url(4.jpg);">

        </div>
        <div class="item" id="fifth" style="background-image: url(5.jpg);">

        </div>
        <div class="item" id="sixth" style="background-image: url(6.jpg);">

        </div>
    </div>


</div>
<div class="booking">
    <h1 class="reserve">Reserve tour</h1>
    <div class="row">
        <div class="first"><label class="text-input">Name: </label> <input type="text-input" class="input-info"></div>
        <div><label class="text-input">Phone number: </label><input type="text-input" class="input-info"></div>
    </div>
    <button class="book">Book the tour</button>

</div>
<script src="script.js"></script>
</body>
</html>