<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style-user.css" th:href="@{/css/style-user.css}">
    <script src="https://kit.fontawesome.com/e347daf313.js" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
<div class="container">

    <div class="personal-info">
        <a href="/home" class="title"><h1 class="logo"> SkyLand</h1></a>

        <div class="information">
            <div class="title_info">Personal information</div>
            <div class="after_title">
                <div class="field">
                    <label for="first_name">First Name</label>
                    <input type="text" id="first_name" th:value="${user.getFirstName()}" spellcheck="false"/>
                </div>
                <div class="field">
                    <label for="last_name">Last Name</label>
                    <input type="text" id="last_name" th:value="${user.getLastName()}" spellcheck="false"/>
                </div>
                <!--                <div class="field">-->
                <!--                    <label for="username">Username</label>-->
                <!--                    <input type="text" id="username" th:text="${user.getUsername()}" spellcheck="false" />-->
                <!--                </div>-->
                <div class="field">
                    <label for="phone_number">Phone number </label>
                    <input type="text" id="phone_number" th:value="${user.getPhoneNumber()}" spellcheck="false"/>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" id="email" th:value="${user.getEmail()}" spellcheck="false"/>
                </div>

            </div>
        </div>
        <button type="submit" class="edit-btn">Edit Profile</button>

    </div>

    <div class="second">
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
            <button type="submit" class="exit-btn">Exit</button>
        </form>

    </div>


</div>
<div class="">
    <div class="circle">
        <div class="photo"></div>
    </div>
</div>
</body>
</html>